@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Seller Pages CSS */
.project-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    max-width: 1200px;
}

.create-project-input {
    width: 690px;
    margin-bottom: 20px;
}

.create-project-shortinput {
    width: 510px;
    margin: auto 6px;
}

.projectbtn1 {
    border: 3px solid rgb(0, 104, 0);
    color: #ffffff;
    background-color: rgb(0, 175, 47);
    padding: 20px 60px;
    margin: 10px 0px;
    border-radius: 18px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: 0.3s;
    margin-bottom: 20px;
}

.projectbtn1:hover {
    border: 3px solid rgb(0, 165, 0);
    color: #abffc6;
    background-color: rgb(0, 74, 42);
}

.project-container h1 {
    padding: 2%;
    font-size: 20px;
}

.projectbtn2 {
    max-width: 200px;
    padding: 15px 20px;
    border: 2px solid red;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    color: red;
    background-color: white;
    transition: 0.2s;
    font-size: 18px;
}

.projectbtn2:hover {
    border-color: rgb(117, 0, 0);
    color: rgb(255, 255, 255);
    background-color: red;
}

.create-project {
    position: relative;
    margin: auto;
    padding: 20px;
    width: 100%;
    max-width: 900px;
    border-radius: 20px;
    margin-top: 40px;
}

.create-project span {
    font-size: 15px;
    font-weight: 400;
    margin-top: -20px;
}

.create-project-label {
    font-size: 15px;
    color: grey;
    font-weight: 600;
    padding-left: 1%;
    margin-bottom: 10px;
}

.projectbtn3 {
    border: 2px solid rgb(0, 104, 0);
    background-color: white;
    padding: 10px 18px;
    color: green;
    font-size: 18px;
}

.projectbtn3 svg {
    font-size: 36px;
}

.projectbtn3:hover {
    border: 2px solid rgb(0, 104, 0);
    background-color: white;
    color: green;
    cursor: pointer;
}

.projectbtn4 {
    margin: 10px 10px;
    padding: 10px 20px;
    background-color: white;
    color: green;
    border: 2px solid #008000;
    font-size: 15px;
}

.projectbtn4:hover {
    background-color: rgb(0, 141, 82);
    color: rgb(215, 255, 236);
    border: 2px solid green;
}

.projectbtn5 {
    margin: 9px;
    padding: 10px;
    background-color: white;
    color: green;
    border: 2px solid #008000;
    font-size: 15px;
}

.projectbtn5:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 40, 21);
    border: 2px solid rgb(0, 61, 0);
}

.project-steps {
    margin: 20px 10px;
}


.projectbtn {
    color: #006b37;
    border: 3px solid green;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: 0.3s;
    margin-bottom: 20px;
    margin-left: 65%;
}

.projectbtn svg {
    margin-left: 0.3rem;
    font-size: 2rem;
}

.projectbtn:hover {
    border: 3px solid rgb(0, 111, 0);
    background-color: #e6fff3;
    cursor: pointer;
}

.project-shop {
    display: flex;
    margin-top: 30px;
    align-items: left;
    width: 100%;
}

.project-card{
    margin: 0px 10px;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.carousel{
    width: 280px;
    box-shadow: 0px 0px 12px #b7b7b7;
    color: transparent;
    border-radius: 10px;
}

.carousel-images{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
}

.single-project-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 500px;
    margin-top: 60px;
    max-width: 1200px;
}

.project-title{
    font-size: 28px;
    font-weight: 700;
    color: rgb(0, 40, 19);
}

.project-priceTiers{
    padding: 10px 20px;
    margin-top: 40px;
    margin-left: 20px;
}

.project-carousel {
    width: 100%;
    max-width: 680px;
    box-shadow: 0px 0px 12px #b7b7b7;
    color: transparent;
    border-radius: 10px;
    margin-top: 30px;
}

.project-carousel-images {
    width: 100%;
    height: 390px;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 10px;
}

.project-description{
    margin-top: 60px;
    font-size: 15px;
    margin-left: 20px;
}

.project-description p{
    margin-top: 20px;
    color: #006b37;
}

.project-deliverables{
    margin-top: 80px;
    font-size: 15px;
    margin-left: 40px;
}

.project-deliverables p{
    margin-top: 20px;
    color: #006b37;
}

.project-deliverables svg{
    margin-right: 10px;
    margin-top: 20px;
    width: 30px;
    height: 30px;
    color: #006b37;
}

.project-user-highlight {
    border: 3px solid rgb(184, 184, 184);
    margin: 30px;
    margin-top: 40px;
    padding-bottom: 0px;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}